/* ---------------- BODY ---------------- */
body {
  font-family: 'Baloo 2', cursive;
  margin: 0;
  background: #ffffff;
  display: flex;
  min-height: 100vh;
  color: #333;
}


/* ---------------- TOPBAR ---------------- */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: #fde2e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 3px 10px rgba(166, 86, 86, 0.1);
  z-index: 1000;
}

.topbar .logo {
  font-size: 28px;
  font-weight: bold;
  color: #d77a7a;
  animation: logoBounce 1s ease;
}

@keyframes logoBounce {
  0% { transform: translateY(-20px); opacity:0; }
  50% { transform: translateY(5px); opacity:1; }
  100% { transform: translateY(0); opacity:1; }
}

.topbar .logout-btn {
  background: #d77a7a;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.topbar .logout-btn:hover {
  background: #ff6b6b;
}

/* ---------------- SIDEBAR ---------------- */
.sidebar {
  width: 300px;
  margin-top: 70px; /* push down below topbar */
  min-height: calc(100vh - 70px);
  background: #fde2e0;
  overflow-y: auto;
  padding: 20px 0;
  box-shadow: 3px 0 10px rgba(0,0,0,0.08);
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #eee9e9;
  border-radius: 3px;
}

/* Sidebar menu items */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 18px 27px;
  margin: 5px 10px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s;
  color: #e58888;
  font-weight: bold;
  white-space: nowrap;
  font-size:20px;
}

.sidebar-menu li:hover,
.sidebar-menu li.active {
  background: #d77a7a;
  color: white;
  transform: scale(1.05);
}

/* ---------------- MAIN CONTENT ---------------- */
.main-content {
  flex: 1; /* THIS MAKES IT FILL ALL REMAINING SPACE */
  padding: 100px 60px 40px 60px;
  min-height: 100vh;
  background: #ffffff;
}


/* ---------------- MAIN HEADING ---------------- */
.main-heading {
  font-size: 80px;
  font-weight: bold;
  color: #e8dcdc;
  text-align: center;
  margin-bottom: 40px;
  animation: headingFadeIn 1.2s ease;
}

@keyframes headingFadeIn {
  0% { opacity: 0; transform: translateY(-30px); }
  100% { opacity: 1; transform: translateY(0); }
}

